app/source/index.pug
extends layouts/layout-full.pug

block config
    - var title = 'Home Page'

block script
    script(src="js/vendor/holder.js")

block content
    .wrap-content#wrap-content
        .first-section
            .container
                .beetech
                    img(src="imgs/beetech.png", srcset="imgs/beetech.png 1x, imgs/beetech2x.png 2x")
                h1.big-slogan Where zero becomes one!
                p.short-des Chúng tôi xây dựng và phát triển các sản phẩm công nghệ hiện đại, thân thiện và hướng tới tạo giá trị thặng dư cho xã hội !
                .line-sep
                    .mid-dot
        .mission-section#mission-section
            .container
                h3.title-block Tầm nhìn và sứ mệnh
                p.short-des
                    | Công ty Cổ phần Công nghệ BeeTech với tầm nhìn trở thành 
                    br
                    | và được công nhận là công ty hàng đầu về những sản phẩm công nghệ tại Việt Nam
                .mission-content
                    img.earth(src="imgs/earth.png")
                    //- img.lighten(src="imgs/lighten4.png")
                    .left-mission
                        .item-mission
                            h4 TẦM NHÌN
                            p Tạo nên một công ty công nghệ của người Việt, khẳng định sức mạnh trí tuệ Việt
                        .item-mission
                            h4 Giá trị cốt lõi
                            p Tạo nên một công ty công nghệ của người Việt, khẳng định sức mạnh trí tuệ Việt
                    .right-mission
                        .item-mission
                            h4 SỨ mệnh
                            p Tạo ra những sản phẩm công nghệ hiện đại, thân thiện và mang lại hiệu quả cao cho xã hội.
                        .item-mission
                            h4 Triết lý
                            p Tạo ra những sản phẩm công nghệ hiện đại, thân thiện và mang lại hiệu quả cao cho xã hội.


                .line-sep
                    .mid-dot
        .partner-section#partner-section
            .container
                h3.title-block ĐỐI TÁC CỦA CHÚNG TÔI
                p.short-des
                    | Với mục đích phát triển không ngừng để đáp ứng được nhu cầu tài chính ngày càng cao của khách hàng, chúng tôi luôn chào đón những đối tác tiềm năng khác. 
                    br
                    | Vui lòng liên hệ với chúng tôi để hiểu thêm về quyền lợi và điều kiện hợp tác.
                .slide-partner
                    .item-partner
                        a(href="#") 
                            img(src="imgs/fpt.png", srcset="imgs/fpt.png 1x, imgs/fpt2x.png 2x")
                    .item-partner
                        a(href="#") 
                            img(src="imgs/ss.png", srcset="imgs/ss.png 1x, imgs/ss2x.png 2x")
                    .item-partner
                        a(href="#") 
                            img(src="imgs/viettel.png", srcset="imgs/viettel.png 1x, imgs/viettel2x.png 2x")
                    .item-partner
                        a(href="#") 
                            img(src="imgs/vtb.png", srcset="imgs/vtb.png 1x, imgs/vtb2x.png 2x")
                    .item-partner
                        a(href="#") 
                            img(src="imgs/bidv.png", srcset="imgs/bidv.png 1x, imgs/bidv2x.png 2x")
                    .item-partner
                        a(href="#") 
                            img(src="imgs/tech.png", srcset="imgs/tech.png 1x, imgs/tech2x.png 2x")
                    .item-partner
                        a(href="#") 
                            img(src="imgs/fpt.png", srcset="imgs/fpt.png 1x, imgs/fpt2x.png 2x")
                    .item-partner
                        a(href="#") 
                            img(src="imgs/ss.png", srcset="imgs/ss.png 1x, imgs/ss2x.png 2x")
                    .item-partner
                        a(href="#") 
                            img(src="imgs/viettel.png", srcset="imgs/viettel.png 1x, imgs/viettel2x.png 2x")
                    .item-partner
                        a(href="#") 
                            img(src="imgs/vtb.png", srcset="imgs/vtb.png 1x, imgs/vtb2x.png 2x")
                    .item-partner
                        a(href="#") 
                            img(src="imgs/bidv.png", srcset="imgs/bidv.png 1x, imgs/bidv2x.png 2x")
                    .item-partner
                        a(href="#") 
                            img(src="imgs/tech.png", srcset="imgs/tech.png 1x, imgs/tech2x.png 2x")
                   

                p.short-des 
                    | Trong quan hệ với các đối tác, Công ty Cổ phần Công nghệ BeeTech Việt Nam luôn thực hiện các hoạt động trên tinh thần tôn trọng lẫn nhau, hợp tác cùng có lợi và tuân thủ luật pháp Việt Nam vì sự phát triển lâu dài, vững chắc, toàn diện.
                .line-sep
                    .mid-dot
        .contact-section#contact-section
            .container
                h3.title-block Liên hệ
                p.short-des
                    | BeeTech hoan nghênh các ý kiến, câu hỏi và phản hồi của bạn. Xin vui lòng tìm thông tin đầy đủ của chúng tôi dưới đây.

                    br
                    | Chúng tôi thường trả lời trong vòng 24 giờ trong các ngày làm việc.
                form.form-inline
                    .edit-space
                        .col-md-6
                            .form-group
                                input#yourName.form-control(type="text",placeholder="Your name")
                        .col-md-6
                            .form-group
                                input#yourEmail.form-control(type="email",placeholder="Your email")

                    .form-group
                        input#Subject.form-control(type="text",placeholder="Subject")
                    .form-group
                        textarea#Content(type="text",placeholder="Massage")

                    button.btn.btn-default() SEND NOW
        .up-footer-section
            .container
                .row
                    .col-md-4
                        .icon-circles
                            .in-circle
                                img(src="imgs/icon-envelop.png", srcset="imgs/icon-envelop.png 1x, imgs/icon-envelop2x.png 2x")
                        p
                            a(href="mailto: contact@beetechvn.com") contact@beetechvn.com
                    .col-md-4
                        .icon-circles
                            .in-circle
                                img(src="imgs/icon-location.png", srcset="imgs/icon-location.png 1x, imgs/icon-location2x.png 2x")
                        p   Tầng số 05, tòa nhà Viện Dầu Khí số 167 Trung Kính, phường Yên Hòa, quận Cầu Giấy, thành phố Hà Nội, Việt Nam
                    .col-md-4
                        .icon-circles
                            .in-circle
                                img(src="imgs/icon-tel.png", srcset="imgs/icon-tel.png 1x, imgs/icon-tel2x.png 2x")
                        p(style="font-family: 'Roboto', sans-serif;")
                            a(href="tel: 0438 554 666") 0438 554 666
                .line-sep
                    .mid-dot
               
        
    

app/index.html
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
    <meta name="description" content="Page description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="ico/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="ico/apple-touch-icon.png">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- build:css css/style.min.css-->
    <link href="css/slick.css" rel="stylesheet" type="text/css">
    <link href="css/slick-theme.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <!-- endbuild-->
  </head>
  <body>
    <header class="site-header" id="header">
      <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand top-brand" href="#"> <img src="imgs/logo.png" srcset="imgs/logo.png 1x, imgs/logo2x.png 2x"></a>
          </div>
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-main-left">
              <li class="active"><a href="#wrap-content">TRANG CHỦ                                         </a></li>
              <li><a href="#mission-section">SỨ MỆNH  </a></li>
              <li><a href="#partner-section">ĐỐI TÁC </a></li>
              <li><a href="#contact-section">LIÊN HỆ</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"> <i class="fa fa-facebook"></i></a></li>
              <li><a href="#"> <i class="icon-google-plus"></i></a></li>
              <li><a href="#"> <i class="icon-youtube"></i></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="site-main" id="main">
      <div class="wrap-content" id="wrap-content">
        <div class="first-section">
          <div class="container">
            <div class="beetech"><img src="imgs/beetech.png" srcset="imgs/beetech.png 1x, imgs/beetech2x.png 2x"></div>
            <h1 class="big-slogan">Where zero becomes one!</h1>
            <p class="short-des">Chúng tôi xây dựng và phát triển các sản phẩm công nghệ hiện đại, thân thiện và hướng tới tạo giá trị thặng dư cho xã hội !</p>
            <div class="line-sep">
              <div class="mid-dot"></div>
            </div>
          </div>
        </div>
        <div class="mission-section" id="mission-section">
          <div class="container">
            <h3 class="title-block">Tầm nhìn và sứ mệnh</h3>
            <p class="short-des">Công ty Cổ phần Công nghệ BeeTech với tầm nhìn trở thành <br>và được công nhận là công ty hàng đầu về những sản phẩm công nghệ tại Việt Nam</p>
            <div class="mission-content"><img class="earth" src="imgs/earth.png">
              <div class="left-mission">
                <div class="item-mission">
                  <h4>TẦM NHÌN</h4>
                  <p>Tạo nên một công ty công nghệ của người Việt, khẳng định sức mạnh trí tuệ Việt</p>
                </div>
                <div class="item-mission">
                  <h4>Giá trị cốt lõi</h4>
                  <p>Tạo nên một công ty công nghệ của người Việt, khẳng định sức mạnh trí tuệ Việt</p>
                </div>
              </div>
              <div class="right-mission">
                <div class="item-mission">
                  <h4>SỨ mệnh</h4>
                  <p>Tạo ra những sản phẩm công nghệ hiện đại, thân thiện và mang lại hiệu quả cao cho xã hội.</p>
                </div>
                <div class="item-mission">
                  <h4>Triết lý</h4>
                  <p>Tạo ra những sản phẩm công nghệ hiện đại, thân thiện và mang lại hiệu quả cao cho xã hội.</p>
                </div>
              </div>
            </div>
            <div class="line-sep">
              <div class="mid-dot"></div>
            </div>
          </div>
        </div>
        <div class="partner-section" id="partner-section">
          <div class="container">
            <h3 class="title-block">ĐỐI TÁC CỦA CHÚNG TÔI</h3>
            <p class="short-des">Với mục đích phát triển không ngừng để đáp ứng được nhu cầu tài chính ngày càng cao của khách hàng, chúng tôi luôn chào đón những đối tác tiềm năng khác. <br>Vui lòng liên hệ với chúng tôi để hiểu thêm về quyền lợi và điều kiện hợp tác.</p>
            <div class="slide-partner">
              <div class="item-partner"><a href="#"> <img src="imgs/fpt.png" srcset="imgs/fpt.png 1x, imgs/fpt2x.png 2x"></a></div>
              <div class="item-partner"><a href="#"> <img src="imgs/ss.png" srcset="imgs/ss.png 1x, imgs/ss2x.png 2x"></a></div>
              <div class="item-partner"><a href="#"> <img src="imgs/viettel.png" srcset="imgs/viettel.png 1x, imgs/viettel2x.png 2x"></a></div>
              <div class="item-partner"><a href="#"> <img src="imgs/vtb.png" srcset="imgs/vtb.png 1x, imgs/vtb2x.png 2x"></a></div>
              <div class="item-partner"><a href="#"> <img src="imgs/bidv.png" srcset="imgs/bidv.png 1x, imgs/bidv2x.png 2x"></a></div>
              <div class="item-partner"><a href="#"> <img src="imgs/tech.png" srcset="imgs/tech.png 1x, imgs/tech2x.png 2x"></a></div>
              <div class="item-partner"><a href="#"> <img src="imgs/fpt.png" srcset="imgs/fpt.png 1x, imgs/fpt2x.png 2x"></a></div>
              <div class="item-partner"><a href="#"> <img src="imgs/ss.png" srcset="imgs/ss.png 1x, imgs/ss2x.png 2x"></a></div>
              <div class="item-partner"><a href="#"> <img src="imgs/viettel.png" srcset="imgs/viettel.png 1x, imgs/viettel2x.png 2x"></a></div>
              <div class="item-partner"><a href="#"> <img src="imgs/vtb.png" srcset="imgs/vtb.png 1x, imgs/vtb2x.png 2x"></a></div>
              <div class="item-partner"><a href="#"> <img src="imgs/bidv.png" srcset="imgs/bidv.png 1x, imgs/bidv2x.png 2x"></a></div>
              <div class="item-partner"><a href="#"> <img src="imgs/tech.png" srcset="imgs/tech.png 1x, imgs/tech2x.png 2x"></a></div>
            </div>
            <p class="short-des">
               Trong quan hệ với các đối tác, Công ty Cổ phần Công nghệ BeeTech Việt Nam luôn thực hiện các hoạt động trên tinh thần tôn trọng lẫn nhau, hợp tác cùng có lợi và tuân thủ luật pháp Việt Nam vì sự phát triển lâu dài, vững chắc, toàn diện.</p>
            <div class="line-sep">
              <div class="mid-dot"></div>
            </div>
          </div>
        </div>
        <div class="contact-section" id="contact-section">
          <div class="container">
            <h3 class="title-block">Liên hệ</h3>
            <p class="short-des">BeeTech hoan nghênh các ý kiến, câu hỏi và phản hồi của bạn. Xin vui lòng tìm thông tin đầy đủ của chúng tôi dưới đây.<br>Chúng tôi thường trả lời trong vòng 24 giờ trong các ngày làm việc.</p>
            <form class="form-inline">
              <div class="edit-space">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" id="yourName" type="text" placeholder="Your name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" id="yourEmail" type="email" placeholder="Your email">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input class="form-control" id="Subject" type="text" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea id="Content" type="text" placeholder="Massage"></textarea>
              </div>
              <button class="btn btn-default">SEND NOW</button>
            </form>
          </div>
        </div>
        <div class="up-footer-section">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="icon-circles">
                  <div class="in-circle"><img src="imgs/icon-envelop.png" srcset="imgs/icon-envelop.png 1x, imgs/icon-envelop2x.png 2x"></div>
                </div>
                <p><a href="mailto: contact@beetechvn.com">contact@beetechvn.com</a></p>
              </div>
              <div class="col-md-4">
                <div class="icon-circles">
                  <div class="in-circle"><img src="imgs/icon-location.png" srcset="imgs/icon-location.png 1x, imgs/icon-location2x.png 2x"></div>
                </div>
                <p>  Tầng số 05, tòa nhà Viện Dầu Khí số 167 Trung Kính, phường Yên Hòa, quận Cầu Giấy, thành phố Hà Nội, Việt Nam</p>
              </div>
              <div class="col-md-4">
                <div class="icon-circles">
                  <div class="in-circle"><img src="imgs/icon-tel.png" srcset="imgs/icon-tel.png 1x, imgs/icon-tel2x.png 2x"></div>
                </div>
                <p style="font-family: 'Roboto', sans-serif;"><a href="tel: 0438 554 666">0438 554 666</a></p>
              </div>
            </div>
            <div class="line-sep">
              <div class="mid-dot"></div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="site-footer" id="footer">
      <div class="container">
        <div class="rows">
          <p>© 2017 - Bản quyền thuộc về Beetech. All Rights Reserved.</p>
        </div>
      </div>
    </footer>
    <!-- build:js js/scripts.min.js-->
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/vendor/holder.js"></script>
    <script src="js/vendor/slick.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- endbuild-->
  </body>
</html>
